{{! /organization }}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <!-- <div class="row" id="form">
        <form class="city-input" action="index.html" method="post" id="orgForm">
          <input type="submit" name="submit" value="Submit" class="form">
          <input type="text" name="city" value="city" placeholder="City" class="form">
        </form>
      </div> -->
      <h1>Organizations</h1>
      <div class="row">
        {{#each data}}
          <div class="organization-list">
            <a href='/organization/view/{{id}}'>
              <img class='org-list-pic' src="{{organizationRenderorg_logo_url}}">
              <h2 class="org-list-names">{{organization_name}}</h2>
            </a>
            <h3 class="org-list-city">{{city}}, {{state}}</h3>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
