{{! /volunteer/dashboard }}{{!vol.Data.}}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <img class='vol-profile-pic' src="{{volData.picture_url}}">
        <h1 style="text-align:center;">Welcome, {{volData.user_name}} <hr>
      </div>
      <div class="row">
        <h4 class="dashboard">Dashboard</h4>
      </div>
      <div class="row">



        <div class="col-md-6">
          <div class="dash-button text-center">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Edit Profile <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="/volunteer/view/{{volData.id}}">View Profile</a></li>
              <li><a href="/volunteer/profile/update/{{volData.id}}">Edit Profile</a></li>
              <li><a href="/volunteer/password/update/{{volData.id}}">Update Password</a></li>
              <li><a href="/volunteer/username/update/{{volData.id}}">Update Username</a></li>
              <li><a onclick="return confirm('Are you sure you would like to delete this profile');" href="/volunteer/delete/{{volData.id}}">Delete Account</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-6">
          <div class="dash-button text-center">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Search <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="/organization">by Organizations</a></li>
              <li><a href="/event">by Events</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row" id="form">
        <h3 class="events">Registered Events</h3><hr>
      </div>
      <div class="row">
          {{#each eventData}}
          <div class="col-md-10">
            <div class="event-list">
              <a href='/event/view/{{id}}'>
                <h2 class="event-list-names">{{title}}</h2>
              </a>
              <span class="event-list-city">{{organization.name}}</span>
              <span class="event-list-city">{{city}}, {{state}}</span>
              <span class="event-list-city">{{start_date}} @ {{start_time}}</span>
            </div>
          </div>
          <div class="col-md-2 text-center">
              <div class="row">
                <div class="event-lists">
                  <a onclick="return confirm('Are you sure you would like to unregister from this event?');" class="delete-button"href="/event/unregister/{{id}}">Unregister</a>
                <div></div>
                  <span></span>
                </div>
              </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
</div>
