{{! /event/new }}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="title-post">Update Event</h1>
      <form class="form-style-7" action="/event/update/{{data.id}}" method="POST">
        <div class="col-md-6">
          <ul>
            <li>
              <label for="title">Title</label>
              <input type="text" name="title" value="{{data.title}}" required>
              <span>Title of the event</span>
            </li>
            <li>
              <label for="location">Location/building</label>
              <input type="text" name="location" value="{{data.location}}">
              <span>Location of the event</span>
            </li>
            <li>
              <label for="street">Street</label>
              <input type="text" name="street" value="{{data.street}}" required>
              <span>Street address</span>
            </li>
            <li>
              <label for="city">City</label>
              <input type="text" name="city" value="{{data.city}}" required>
              <span>Enter the city</span>
            </li>
            <li>
              <label for="state">State</label>
              <input type="text" name="state" value="{{data.state}}" required>
              <span>Enter the state</span>
            </li>
            <li>
              <label for="start_date">Start Date</label>
              <input type="date" name="start_date" value="{{data.start_date}}" required>
              <span>Enter the start date</span>
            </li>
            <li>
              <label for="end_date">End Date</label>
              <input type="date" name="end_date" value="{{data.end_date}}" required>
              <span>Enter the end date</span>
            </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul>
          <li>
            <label for="start_time">Start Time</label>
            <input type="time" name="start_time" value="{{data.start_time}}" required>
            <span>Enter the start time</span>
          </li>
          <li>
            <label for="end_time">End Time</label>
            <input type="time" name="end_time" value="{{data.end_time}}" placeholder="" required>
            <span>Enter the time the event ends</span>
          </li>
          <li>
            <label for="available_positions">Number of Volunteers Desired</label>
            <input type="number" name="available_positions" value="{{data.available_positions}}" placeholder="0" required>
            <span>Enter the number of Volunteers Desired</span>
          </li>
          <li>
            <label for="description">Event Description</label>
            <textarea rows="8" name="description" value="{{data.description}}" placeholder="Insert information about the event." required>{{data.description}}</textarea>
            <span>Enter the event description</span>
          </li>
          <li>
            <input type="submit" class="submit-btn" value="Submit" required>
          </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>
